@{
    ViewBag.Title = "Home Page";
}

<br />     
<div class="slider">
    <ul class="slides">
        <li>
            <img src="~/images/display.jpg"> <!-- random image -->
            <div class="caption left-align">
                <h3 class="White-text"></h3>
                <h5 class="White-text"></h5>
            </div>
        </li>
        <li>
            <img src="~/images/waitress.jpg"> <!-- random image -->
            <div class="caption left-align">
                <h3>Every Pie made with care</h3>
                <h5 class="light grey-text text-lighten-3">Just for you</h5>
            </div>
        </li>
        <li>
            <img src="~/images/Buffalo-Dan-Pizza.jpg"> <!-- random image -->
            <div class="caption center-align">
                <h3 class="black-text">Best Pizza In Town</h3>
                <h5 class="black-text">Give us a call 847-908-2342</h5>
            </div>
        </li>
    </ul>
</div>
<br />
<div class="row">
    <div class="card col s12 m6 l6">

    <!--Card image-->
        <div class="card-image">
        <a href="~/Home/Menu"><img src="~/images/menu.jpg" alt="..."></a>
         <span class="card-title">Menu</span>
         </div>
    <!--Card content-->
    <div class="card-body">
        <!--Text-->
        <p class="card-text">Check out the best prices in town!</p>
    </div>
    <div class="card-action">
        <a href="~/Home/Menu" class="btn amber darken-3">Menu</a>
   </div>
</div>
    <div class="card col s12 m6 l6">
        <div class="card-image">
            <!--Card image-->
            <a href="~/Home/OrderForm"><img src="~/images/pizza.jpg" alt="..."></a>
            <span class="card-title black-text">Order Form</span>
        </div>
            <!--Card content-->
            <div class="card-body">
                <p class="card-text">Place your order with the best pizza shop in town.</p>
            </div>
        <div class="card-action">
            <a href="~/Home/OrderForm" class="btn amber darken-3">Order</a>
        </div>
    </div>
</div>