
@{
    ViewBag.Title = "Menu";
}

<h2 class="center"> Menu </h2>
<div class="row">
    <!--Card-->
    <div class="col s12 m12 l12">
        <div class="card">
        <!--Card image-->
        <div class="card-image">
            <img src="~/images/MenuPizza.jpg" class="img-fluid">
           
        </div>
        <!--/Card image-->
        <!--Card content-->
        <div class="card-content">
            <!--Title-->
            <div class="container">
                <table class="table">
                    <thead class="thead-inverse">
                        <tr>
                            <th>#</th>
                            <th> </th>
                            <th>Pizza Size</th>
                            <th>Pizza Price</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"> </th>
                            <td> </td>
                            <td>Small</td>
                            <td>$7.45</td>
                            <td> </td>
                        </tr>
                        <tr>
                            <th scope="row"> </th>
                            <td> </td>
                            <td>Medium</td>
                            <td>$10.45</td>
                            <td> </td>
                        </tr>
                        <tr>
                            <th scope="row"> </th>
                            <td> </td>
                            <td>Large</td>
                            <td>$13.45</td>
                            <td> </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table">
                    <thead class="thead-default">
                        <tr>
                            <th>#</th>
                            <th> </th>
                            <th>Topping Name</th>
                            <th>Topping Price</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"> </th>
                            <td> </td>
                            <td>Pepperoni</td>
                            <td>$1.25</td>
                            <td> </td>
                        </tr>
                        <tr>
                            <th scope="row"> </th>
                            <td> </td>
                            <td>Mushrooms</td>
                            <td>$0.75</td>
                            <td> </td>
                        </tr>
                        <tr>
                            <th scope="row"> </th>
                            <td> </td>
                            <td>Onions</td>
                            <td>$1</td>
                            <td> </td>
                        </tr>
                        <tr>
                            <th scope="row"> </th>
                            <td> </td>
                            <td>Sasusage</td>
                            <td>$2</td>

                        </tr>
                        <tr>
                            <th scope="row"> </th>
                            <td> </td>
                            <td>Bacon</td>
                            <td>$2.50</td>
                            <td> </td>
                        </tr>

                        <tr>
                            <th scope="row"> </th>
                            <td> </td>
                            <td>Extra Cheese</td>
                            <td>$1</td>
                            <td> </td>
                        </tr>
                        <tr>
                            <th scope="row"> </th>
                            <td> </td>
                            <td>Black Olives</td>
                            <td>$0.75</td>
                            <td> </td>
                        </tr>
                        <tr>
                            <th scope="row"> </th>
                            <td> </td>
                            <td>Spinach</td>
                            <td>$1.50</td>
                            <td> </td>
                        </tr>
                        <tr>
                            <th scope="row"> </th>
                            <td> </td>
                            <td>Pineapple</td>
                            <td>$1.50</td>
                            <td> </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <!--/.Card content-->

    </div>
    <!--/.Card-->
</div>
</div>